# 몽고DB 사용하기

In [1]:
import pymongo
import pandas as pd

In [ ]:
conn = pymongo.MongoClient("mongodb://id330:pw330@175.126.37.21:37017/db330")
db = conn.get_database('db330')

collection = db.get_collection('ex02') # collection == table

dic1 = {"id":"a", "name":"유대현", "age":26} # 데이터 type은 dictionary (<= json)
collection.insert_one(dic1)

In [6]:
df1 = pd.DataFrame({
    "id": ["p", "q", "r", "s"],
    "name": ["Kim", "Lee", "Choi", "Song"],
    "age": [20, 24, 21, 25]
})
df1

  id  name  age
0  p   Kim   20
1  q   Lee   24
2  r  Choi   21
3  s  Song   25

In [9]:
dic2 = df1.to_dict(orient= 'records')
dic2

collection.insert_many(dic2)

InsertManyResult([ObjectId('6790986cdd5c850b8a8bd7ad'), ObjectId('6790986cdd5c850b8a8bd7ae'), ObjectId('6790986cdd5c850b8a8bd7af'), ObjectId('6790986cdd5c850b8a8bd7b0')], acknowledged=True)

In [10]:
res = collection.find({})
for row in res:
    print(row)

{'_id': ObjectId('679096bfdd5c850b8a8bd7ac'), 'id': 'a', 'name': '유대현', 'age': 26}
{'_id': ObjectId('6790986cdd5c850b8a8bd7ad'), 'id': 'p', 'name': 'Kim', 'age': 20}
{'_id': ObjectId('6790986cdd5c850b8a8bd7ae'), 'id': 'q', 'name': 'Lee', 'age': 24}
{'_id': ObjectId('6790986cdd5c850b8a8bd7af'), 'id': 'r', 'name': 'Choi', 'age': 21}
{'_id': ObjectId('6790986cdd5c850b8a8bd7b0'), 'id': 's', 'name': 'Song', 'age': 25}

collection2 = db.get_collection('ex01')
res = collection2.find({})
for row in res:
    print(row)

In [13]:
df2 = pd.DataFrame({
    "id": ["p", "q", "r", "s"],
    "name": ["Kim", "Lee", "Choi", "Song"],
    "age": [20, 24, 21, 25],
    "region": ["Busan", "Daegu", "Seoul", "Chuncheon"]
})
print(df2)
dic3 = df2.to_dict(orient= 'records')
collection.insert_many(dic3)

  id  name  age     region
0  p   Kim   20      Busan
1  q   Lee   24      Daegu
2  r  Choi   21      Seoul
3  s  Song   25  Chuncheon

InsertManyResult([ObjectId('679099dedd5c850b8a8bd7b5'), ObjectId('679099dedd5c850b8a8bd7b6'), ObjectId('679099dedd5c850b8a8bd7b7'), ObjectId('679099dedd5c850b8a8bd7b8')], acknowledged=True)

In [17]:
import io
path = '../image/전국체육시설비율.png'
with open(path, 'rb') as file:
    image1 = file.read()

bytes1 = io.BytesIO(image1)
print(bytes1)

dic4 = {"id":"i", "name":"이미지", "age":50, "image":bytes1.getvalue()}
collection.insert_one(dic4)

<_io.BytesIO object at 0x70648f3c7740>

InsertOneResult(ObjectId('67909b56dd5c850b8a8bd7b9'), acknowledged=True)

In [2]:
conn = pymongo.MongoClient("mongodb://id330:pw330@175.126.37.21:37017/db330")
db = conn.get_database('db330')