!pip install pymysql

In [1]:
from hdfs import InsecureClient
import csv
import pymysql

In [51]:
def runsql(sql, data=None):
    try:
        conn = pymysql.connect(host='175.126.37.21', user='id231', password='pw231', port=13306, db='db231', charset='utf8')
        cursor = conn.cursor()
        cursor.execute(sql, data)
        conn.commit()
        cursor.close()
        conn.close()
    except Exception as e:
        print(f'[SQL이 제대로 실행되지 못했습니다.]\n{e}')

In [58]:
# csv 가져오기
fs = InsecureClient('http://bdata.iptime.org:9999/', user='hadoop')
fs_path, file_name = '/user/hadoop/sports', '_20250110104927.csv'
with fs.read(f'{fs_path}/{file_name}', encoding='utf-8') as file:
    res = csv.reader(file)
    header = next(res)
    print(header)
    _data = list(res)

print('res:', _data)

['시점', '대한민국', '중국', '일본', '미국', '브라질', '페루', '핀란드', '프랑스', '독일', '스웨덴', '영국', '남아프리카공화국', '오스트레일리아']
res: [['2001', '4.7', '8.3', '0.4', '1.0', '1.4', '0.6', '2.6', '2.0', '1.7', '1.4', '2.6', '2.7', '2.0'], ['2002', '7.7', '9.1', '0.0', '1.7', '3.1', '5.5', '1.7', '1.1', '-0.2', '2.2', '1.8', '3.7', '4.0'], ['2003', '3.1', '10.0', '1.5', '2.8', '1.1', '4.2', '2.0', '0.8', '-0.7', '2.3', '3.1', '2.9', '3.1'], ['2004', '5.2', '10.1', '2.2', '3.8', '5.8', '5.0', '4.0', '2.8', '1.2', '4.3', '2.4', '4.6', '4.2'], ['2005', '4.4', '11.4', '1.8', '3.5', '3.2', '6.3', '2.8', '1.7', '0.7', '2.9', '2.7', '5.3', '3.2'], ['2006', '5.2', '12.7', '1.4', '2.8', '4.0', '7.5', '4.0', '2.4', '3.8', '4.7', '2.4', '5.6', '2.8'], ['2007', '5.8', '14.2', '1.5', '2.0', '6.1', '8.5', '5.3', '2.4', '3.0', '3.4', '2.6', '5.4', '3.8'], ['2008', '3.0', '9.7', '-1.2', '0.1', '5.1', '9.1', '0.8', '0.3', '1.0', '-0.5', '-0.2', '3.2', '3.6'], ['2009', '0.8', '9.4', '-5.7', '-2.6', '-0.1', '1.1', '-8.1', '-2.9', '-5.7', '-4.3', '-4.6', '-1.5', '1.9'], ['2010', '7.0', '10.6', '4.1', '2.7', '7.5', '8.3', '3.2', '1.9', '4.2', '6.0', '2.2', '3.0', '2.2'], ['2011', '3.7', '9.6', '0.0', '1.6', '4.0', '6.3', '2.5', '2.2', '3.9', '3.2', '1.1', '3.2', '2.4'], ['2012', '2.5', '7.9', '1.4', '2.3', '1.9', '6.1', '-1.4', '0.3', '0.4', '-0.6', '1.5', '2.4', '3.9'], ['2013', '3.3', '7.8', '2.0', '2.1', '3.0', '5.9', '-0.9', '0.6', '0.4', '1.2', '1.8', '2.5', '2.6'], ['2014', '3.2', '7.4', '0.3', '2.5', '0.5', '2.4', '-0.4', '1.0', '2.2', '2.7', '3.2', '1.4', '2.6'], ['2015', '2.9', '7.0', '1.6', '2.9', '-3.5', '3.3', '0.5', '1.1', '1.5', '4.5', '2.2', '1.3', '2.2'], ['2016', '3.2', '6.8', '0.8', '1.8', '-3.3', '4.0', '2.8', '1.1', '2.2', '2.1', '1.9', '0.7', '2.8'], ['2017', '3.4', '6.9', '1.7', '2.5', '1.3', '2.5', '3.2', '2.3', '2.7', '2.6', '2.7', '1.2', '2.3'], ['2018', '3.2', '6.7', '0.6', '3.0', '1.8', '4.0', '1.1', '1.9', '1.0', '2.0', '1.4', '1.6', '2.9'], ['2019', '2.3', '6.0', '-0.4', '2.5', '1.2', '2.2', '1.2', '1.8', '1.1', '2.0', '1.6', '0.3', '2.2'], ['2020', '-0.7', '2.2', '-4.1', '-2.2', '-3.3', '-10.9', '-2.4', '-7.5', '-3.8', '-2.2', '-10.4', '-6.0', '-0.3'], ['2021', '4.6', '8.4', '2.6', '5.8', '4.8', '13.4', '2.8', '6.4', '3.2', '6.1', '8.7', '4.7', '2.1'], ['2022', '2.7', '3.0', '1.0', '1.9', '3.0', '2.7', '1.3', '2.5', '1.8', '2.7', '4.3', '1.9', '4.3'], ['2023', '1.4', '5.2', '1.9', '2.5', '2.9', '-0.6', '-1.0', '0.7', '-0.3', '-0.2', '0.1', '0.6', '3.0']]

test = ', '.join(header[2:])
print(test)

In [60]:
# Insert Into
# data = []
conn = pymysql.connect(host='175.126.37.21', user='id231', password='pw231', port=13306, db='db231', charset='utf8')
table_name = "gdp_csv"
for row in _data:
    # print(row)
    sql_insert = f"INSERT INTO {table_name} (`year`, `korea`, `china`, `japan`, `usa`, `brazil`, `peru`, `finland`, `france`, `germany`, `sweden`, `england`, `south_africa`, `australia`) " 
    sql_insert += "VALUES ( " + ("%s, "*(len(header)-1)) + "%s ) "
    
    cursor = conn.cursor()
    print(sql_insert)
    cursor.execute(sql_insert, row)
    cursor.close()
    conn.commit()
    # runsql(sql_insert, row)

# Insert 완료
conn.close()
print('데이터가 입력되었습니다.')

INSERT INTO gdp_csv (`year`, `korea`, `china`, `japan`, `usa`, `brazil`, `peru`, `finland`, `france`, `germany`, `sweden`, `england`, `south_africa`, `australia`) VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )
INSERT INTO gdp_csv (`year`, `korea`, `china`, `japan`, `usa`, `brazil`, `peru`, `finland`, `france`, `germany`, `sweden`, `england`, `south_africa`, `australia`) VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )
INSERT INTO gdp_csv (`year`, `korea`, `china`, `japan`, `usa`, `brazil`, `peru`, `finland`, `france`, `germany`, `sweden`, `england`, `south_africa`, `australia`) VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )
INSERT INTO gdp_csv (`year`, `korea`, `china`, `japan`, `usa`, `brazil`, `peru`, `finland`, `france`, `germany`, `sweden`, `england`, `south_africa`, `australia`) VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )
INSERT INTO gdp_csv (`year`, `korea`, `china`, `japan`, `usa`, `brazil`, `peru`, `finland`, `france`, `germany`, `sweden`, `england`, `south_africa`, `australia`) VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )
INSERT INTO gdp_csv (`year`, `korea`, `china`, `japan`, `usa`, `brazil`, `peru`, `finland`, `france`, `germany`, `sweden`, `england`, `south_africa`, `australia`) VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )
INSERT INTO gdp_csv (`year`, `korea`, `china`, `japan`, `usa`, `brazil`, `peru`, `finland`, `france`, `germany`, `sweden`, `england`, `south_africa`, `australia`) VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )
INSERT INTO gdp_csv (`year`, `korea`, `china`, `japan`, `usa`, `brazil`, `peru`, `finland`, `france`, `germany`, `sweden`, `england`, `south_africa`, `australia`) VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )
INSERT INTO gdp_csv (`year`, `korea`, `china`, `japan`, `usa`, `brazil`, `peru`, `finland`, `france`, `germany`, `sweden`, `england`, `south_africa`, `australia`) VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )
INSERT INTO gdp_csv (`year`, `korea`, `china`, `japan`, `usa`, `brazil`, `peru`, `finland`, `france`, `germany`, `sweden`, `england`, `south_africa`, `australia`) VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )
INSERT INTO gdp_csv (`year`, `korea`, `china`, `japan`, `usa`, `brazil`, `peru`, `finland`, `france`, `germany`, `sweden`, `england`, `south_africa`, `australia`) VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )
INSERT INTO gdp_csv (`year`, `korea`, `china`, `japan`, `usa`, `brazil`, `peru`, `finland`, `france`, `germany`, `sweden`, `england`, `south_africa`, `australia`) VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )
INSERT INTO gdp_csv (`year`, `korea`, `china`, `japan`, `usa`, `brazil`, `peru`, `finland`, `france`, `germany`, `sweden`, `england`, `south_africa`, `australia`) VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )
INSERT INTO gdp_csv (`year`, `korea`, `china`, `japan`, `usa`, `brazil`, `peru`, `finland`, `france`, `germany`, `sweden`, `england`, `south_africa`, `australia`) VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )
INSERT INTO gdp_csv (`year`, `korea`, `china`, `japan`, `usa`, `brazil`, `peru`, `finland`, `france`, `germany`, `sweden`, `england`, `south_africa`, `australia`) VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )
INSERT INTO gdp_csv (`year`, `korea`, `china`, `japan`, `usa`, `brazil`, `peru`, `finland`, `france`, `germany`, `sweden`, `england`, `south_africa`, `australia`) VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )
INSERT INTO gdp_csv (`year`, `korea`, `china`, `japan`, `usa`, `brazil`, `peru`, `finland`, `france`, `germany`, `sweden`, `england`, `south_africa`, `australia`) VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )
INSERT INTO gdp_csv (`year`, `korea`, `china`, `japan`, `usa`, `brazil`, `peru`, `finland`, `france`, `germany`, `sweden`, `england`, `south_africa`, `australia`) VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )
INSERT INTO gdp_csv (`year`, `korea`, `china`, `japan`, `usa`, `brazil`, `peru`, `finland`, `france`, `germany`, `sweden`, `england`, `south_africa`, `australia`) VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )
INSERT INTO gdp_csv (`year`, `korea`, `china`, `japan`, `usa`, `brazil`, `peru`, `finland`, `france`, `germany`, `sweden`, `england`, `south_africa`, `australia`) VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )
INSERT INTO gdp_csv (`year`, `korea`, `china`, `japan`, `usa`, `brazil`, `peru`, `finland`, `france`, `germany`, `sweden`, `england`, `south_africa`, `australia`) VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )
INSERT INTO gdp_csv (`year`, `korea`, `china`, `japan`, `usa`, `brazil`, `peru`, `finland`, `france`, `germany`, `sweden`, `england`, `south_africa`, `australia`) VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )
INSERT INTO gdp_csv (`year`, `korea`, `china`, `japan`, `usa`, `brazil`, `peru`, `finland`, `france`, `germany`, `sweden`, `england`, `south_africa`, `australia`) VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )
데이터가 입력되었습니다.

In [56]:
#Update set
table_name = "particip_rate_csv"
for i, row in enumerate(_data):
    # print(row)
    sql_update_index = f"UPDATE `{table_name}` SET `index` = %s WHERE `type2` = %s"
    run(sql_update_index, [i+1, row[1]])

print(_data)
print('업데이트 완료')

[['성별', '남자', '63.6', '64.2', '46.4', '55.2', '46.6', '57.5', '58.2', '62.3', '60.1', '61.6', '68.1', '59.9', '60.1', '60.4', '62.8'], ['성별', '여자', '55.1', '52', '38.3', '45.3', '40', '52', '53.8', '56.7', '58.4', '62.8', '65.1', '60.3', '61.4', '62', '61.9'], ['연령별', '10대', '57.8', '52.1', '38.8', '44.7', '36.6', '54.7', '49', '63.1', '60.4', '57.2', '50.1', '52', '55', '52.6', '47.9'], ['연령별', '20대', '49.5', '61.7', '38', '44.3', '35.9', '56', '54.9', '57.3', '55.2', '59.3', '69.2', '60.9', '63.6', '62.1', '57.6'], ['연령별', '30대', '56.2', '56.1', '40.9', '46.5', '39.6', '53.1', '53.2', '56.8', '60.7', '61.9', '70.3', '58.6', '57.5', '65.3', '64.7'], ['연령별', '40대', '71.2', '66', '47.4', '55.7', '50', '56.1', '61.2', '61.1', '60.4', '65.7', '70.3', '61.3', '63.7', '65.1', '64.1'], ['연령별', '50대', '65.7', '68', '48.6', '58.1', '50.8', '57.4', '60', '60.8', '60.4', '64.5', '70.8', '64.4', '61', '63.9', '66.5'], ['연령별', '60대', '58.7', '46.5', '46.1', '57.5', '47.3', '58', '59.6', '61.4', '61.7', '63.6', '69', '62.1', '63.2', '59.6', '68'], ['연령별', '70세이상', '0', '30.3', '32.8', '46', '41.4', '45', '49.7', '55.3', '54.6', '59.8', '57.8', '57', '58.3', '54.3', '60.6']]
업데이트 완료

In [17]:
table_name = "particip_rate_csv"
sql_rename_col = f"AlTER TABLE {table_name} RENAME COLUMN `TYPE1` TO `type1`"
run(sql_rename_col)
print('컬럼 이름 변경 완료')

컬럼 이름 변경 완료

In [23]:
sql_des = f"SELECT {test} FROM {table_name}"
s = run(sql_des)
print(s)

None

In [63]:
conn = pymysql.connect(host='175.126.37.21', user='id231', password='pw231', port=13306, db='db231', charset='utf8')
cursor = conn.cursor()
table_name = "particip_rate_csv"
sql = f'SHOW COLUMNS FROM {table_name}'
cursor.execute(sql)
sql_res = cursor.fetchall()
for info in sql_res:
    print(info[0])
cursor.close()
conn.close()

index
type1
type2
2003
2006
2008
2009
2012
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023