In [5]:
import pandas as pd
import numpy as np

from hdfs import InsecureClient

fs = InsecureClient('http://bdata.iptime.org:9999/', user='hadoop')
fs_path, file_name = '/user/hadoop/sports', '_20250110104927.csv'
with fs.read(f'{fs_path}/{file_name}', encoding='utf-8') as reader:
    data = pd.read_csv(reader)

data.tail(4)

,시점,대한민국,중국,일본,미국,브라질,페루,핀란드,프랑스,독일,스웨덴,영국,남아프리카공화국,오스트레일리아
19,2020,-0.7,2.2,-4.1,-2.2,-3.3,-10.9,-2.4,-7.5,-3.8,-2.2,-10.4,-6.0,-0.3
20,2021,4.6,8.4,2.6,5.8,4.8,13.4,2.8,6.4,3.2,6.1,8.7,4.7,2.1
21,2022,2.7,3.0,1.0,1.9,3.0,2.7,1.3,2.5,1.8,2.7,4.3,1.9,4.3
22,2023,1.4,5.2,1.9,2.5,2.9,-0.6,-1.0,0.7,-0.3,-0.2,0.1,0.6,3.0