In [ ]:
!dir

In [ ]:
!ipconfig

In [ ]:
!pip -V

# 빅데이터 파이썬 02-제어문

## if 문
- 기존 언어의 구문: ``` if (조건) {실행} ```
- 파이썬 구문: ``` if True: print('실행') ```

In [ ]:
x, y = 'apple', 'melon'
print(f'x={x}, y={y} 일 때,')
print(f'x < y: {x<y}')
print(f'x > y: {x>y}')

### 비교구문 6가지
1. 크다
2. 작다
3. 크거나 같다
4. 작거나 같다
5. 같다
6. 같지 않다

In [ ]:
x, y = input('x: '), input('y: ')
print(f'\nx={x}, y={y} 일 때,')
print('='*10)
print(f'x < y: {x<y}')
print(f'x > y: {x>y}')
print('-'*10)
print(f'x <= y: {x<=y}')
print(f'x >= y: {x>=y}')
print('-'*10)
print(f'x == y: {x==y}')
print(f'x != y: {x!=y}')
print('='*10)

In [ ]:
# 만약 5000원의 돈을 가지고 있으면 택시를 타고, 그렇지 않으면 걸어가라.
money = input('주머니에 현금 얼마있어?')
if money >= 'A' or money < '0':
    print('장난치냐')
elif int(money) >= 5000:
    print('택시타자')
else:
    print('걸어가자')

In [ ]:
# and or 연산법
money = 2000
card = True
friend = True

if ( money >= 30000 and friend) or not card: # and, or은 연산 속도 개선
    print('택시타고 가자')
else:
    print('그냥 걸어가자ㅜ')

In [1]:
# in 연산법
print('='*12, 'list', '='*13)
print( 3 in [3, 4, 6, 7, 3, 2] ) # True
print( 3 not in [3, 4, 6, 7, 3, 2] ) # False
print('='*11, 'string', '='*12)
print( 'a' in 'apple') # True
print( 'a' in 'lemon') # False
print('='*12, 'tuple', '='*12)
print( 'a' in ('a', 'b', 'c', 'd') ) # True
print( 'i' in ('a', 'b', 'c', 'd') ) # False
print('='*13, 'set', '='*13)
print( 1 in {1, 2, 3, 5} ) # True
print( '1' in {1, 2, 3, 5} ) # False -- 자료형이 다르면 값이 다름
print('='*11, 'nested', '='*12)
print( (3, 4, 5) in [1, 2, (3, 4, 5), 6, 7] ) # True
print( {'python' : 'life'} in ('java', 'c++', {'python' : 'life'} ) ) # True
print('='*9, 'dictionary', '='*10)
print( 'python' in {'java' : 'study', 'c++' : '몰루?!', 'python' : 'life'} ) # True
print( 'c++' in {'java' : 'study', ('c++', 'c#', 'node.js') : '몰루?!', 'python' : 'life'} ) # False
print( 'life' in {'java' : 'study', 'c++' : '몰루?!', 'python' : 'life'} ) # False

============ list =============
True
False
=========== string ============
True
False
============ tuple ============
True
False
============= set =============
True
False
=========== nested ============
True
True
========= dictionary ==========
True
False
False

### 조건부 표현식

In [ ]:
# 입력
score = int(input('점수를 입력하세요'))

'''
기존 조건문
if score >= 60:
    msg = '성공'
else
    msg = '실패'
print(msg)
'''

# 삼항 연산
msg = '합격' if score >= 60 else '보류' if score >= 40 else '불합격'
print(msg)

## while 문

In [3]:
hit = 0
print('나무를 도끼로 찍습니다.')
print('='*20)
while hit < 10:
    hit += 1
    if hit % 2 != 0:
        continue
    print(f'{hit}번 찍었습니다.')
print('='*30)
print('나무가 넘어갑니다.')

나무를 도끼로 찍습니다.
====================
2번 찍었습니다.
4번 찍었습니다.
6번 찍었습니다.
8번 찍었습니다.
10번 찍었습니다.
==============================
나무가 넘어갑니다.

In [ ]:
prompt = '''
1. Add
2. Del
3. List
4. Quit

Please put a number to select: '''
number = 0
while True:
    try:
        number = int(input(prompt))
    except:
        print('[다시 입력하세요.]')
        continue
    else:
        if number > 4 or number < 1:
            print('[선택하신 항목은 존재하지 않습니다.]')
            continue
        print(f'{number}번을 선택하셨습니다.')
        if number == 4:
            break

print('\n프로그램을 종료합니다.')

In [ ]:
# while+continue 구문
a = 0
while a < 10:
    a += 1
    if a % 2 < 1:
        print('> !보여주기 시루?')
        continue
    print(f'> {a} 란 말이더~')

## for 문

In [8]:
for i in [1, 2, 2, 3, 4, 2, 3, 4, 5, 6]:
    print(i)
print('='*5)

for i in [1, 2, 2, 3, 4, 2, 3, 4, 5, 6]:
    print(i, end='#')
print()
print('='*5)

for i in 'life':
    print(i)
    
print('='*5)

for i in {'kakao', 'google', 'naver'}:
    print(i)
    
print('='*5)

mix = [(1, 2), (3, 4), (5, 6)]
for f, r in mix:
    print(f'<{f} - {r}>', f'{f} X {r} = {f*r}')
print('='*5)

triple = [(1, 2, 4), (1, 3, 9), (1, 4, 16)]
for x, y, z in triple:
    print(f'{x + y + z}')
print('='*5)

dic = {'apple':3, 'banana':5, 'kiwi':10}
for x, y in dic.items():
    print(x, y)

1
2
2
3
4
2
3
4
5
6
=====
1#2#2#3#4#2#3#4#5#6#
=====
l
i
f
e
=====
google
naver
kakao
=====
<1 - 2> 1 X 2 = 2
<3 - 4> 3 X 4 = 12
<5 - 6> 5 X 6 = 30
=====
7
13
21
=====
apple 3
banana 5
kiwi 10

### for in zip 구문
- 여러 리스트(배열)의 요소의 개수가 모두 같을 때 유용함
- 다르면 최소 개수만 반환하고 나머지는 버림

In [11]:
# for in zip 구문 ()
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
b = [11, 22, 33, 44, 55, 66, 77, 88, 99]
c = [9, 8, 7, 6, 5, 4, 3, 2, 1]
for i, j, k in zip(a, b, c):
    print(f'{i}+{k}={i+k} : {j}')

1+9=10 : 11
2+8=10 : 22
3+7=10 : 33
4+6=10 : 44
5+5=10 : 55
6+4=10 : 66
7+3=10 : 77
8+2=10 : 88
9+1=10 : 99

In [ ]:
print('==1번 문제==')
marks = [90, 58, 77, 24, 66, 78]
for mark in marks:
    console = f'{marks.index(mark)+1}번 학생은 {mark}점으로 '
    if mark >= 60:
        console += '합격입니다.'
    else:
        console += '불합격입니다.'
    print(console)

print()
print('==2번 문제==')
for mark in marks:
    if mark >= 60:
        print(f'{marks.index(mark)+1}번 학생 합격 축하합니다.')

### range() 함수

In [12]:
a = range(5, 10) # 5~9
b = range(12) # 0~12
print(a, b)
# casting(자료형 변환)
print(list(a), list(b))
print(tuple(a), set(a))

range(5, 10) range(0, 12)
[5, 6, 7, 8, 9] [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
(5, 6, 7, 8, 9) {5, 6, 7, 8, 9}

In [13]:
# range 타입 응용
a = range(0, 10, 1) # 0~9(+1)
b = range(10)
print(f'{list(a)}, {list(b)}')
print(f'{a is b}, {a == b}')
c = range(4, 16, 2) # 4~15(+2)
print(tuple(c))
d = range(10, 0, -2)
print(tuple(d))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
False, True
(4, 6, 8, 10, 12, 14)
(10, 8, 6, 4, 2)

### enumerate() 함수

In [14]:
# tips: 배열에서 index, value 구하기
nums = list(range(10, 40, 2))
print(nums)

start = 1
#기존 방식
print('='*80)
for num in nums:
    print(f'{nums.index(num)+start} : {num}', end=' / ')
print()
# enumerate() 적용 - 결과 동일
print('='*80)
for i, num in enumerate(nums, start):
    print(f'{i} : {num}', end=' / ')

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]
================================================================================
1 : 10 / 2 : 12 / 3 : 14 / 4 : 16 / 5 : 18 / 6 : 20 / 7 : 22 / 8 : 24 / 9 : 26 / 10 : 28 / 11 : 30 / 12 : 32 / 13 : 34 / 14 : 36 / 15 : 38 /
================================================================================
1 : 10 / 2 : 12 / 3 : 14 / 4 : 16 / 5 : 18 / 6 : 20 / 7 : 22 / 8 : 24 / 9 : 26 / 10 : 28 / 11 : 30 / 12 : 32 / 13 : 34 / 14 : 36 / 15 : 38 /

### 예제 - 구구단

In [ ]:
# 구구단
print('[구구단]')
row = range(2, 10) 
col = range(1, 10)
for x in row:
    print('\n' + f'{f'{x}단':=^10}')
    for y in col:
        print(f'{x} X {y} = {x*y}')

### 리스트 컴프리헨션(고급)

In [15]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = [num*2 for num in a]
print(tuple(result)) # 리스트 요소 전체를 연산 결과로 반환
result2 = [num**0.5 for num in a if num%2 == 0]
print(tuple(result2)) # 조건에 맞는 요소만 연산 결과로 반환
result3 = [num**0.25 if num%2 == 0 else num**2 for num in a]
print(tuple(result3)) # 조건 성립과 미성립 요소를 구분해서 다른 연산 결과로 반환

(2, 4, 6, 8, 10, 12, 14, 16, 18)
(1.4142135623730951, 2.0, 2.449489742783178, 2.8284271247461903)
(1, 1.189207115002721, 9, 1.4142135623730951, 25, 1.5650845800732873, 49, 1.681792830507429, 81)

In [253]:
print(f'파이썬에서 소수점 아래로 최대 {len(str(2**0.5))-2}자리까지 나타낼 수 있습니다.')
print('정수는 자릿수 제한이 없습니다.')

파이썬에서 소수점 아래로 최대 16자리까지 나타낼 수 있습니다.
정수는 자릿수 제한이 없습니다.

## 딕셔너리로 switch 구현

In [ ]:
def fun(key): # 함수 선언
    switcher = { # 딕셔너리
        1: "One",
        2: "Two",
        3: "Three"
    }
    return switcher.get(key, "Other") # get() 사용

print(fun(2)) # "Two"
print(fun(6)) # "Other"
print(type(fun)) # class 'function'

In [16]:
# max(): 최대값
print(max(1, 2, 3, 4, 0b101, 0x12, 0o42)) # general numbers
print(max([1, 2, 3, 4])) # list
# min(): 최소값
print(min(1, 2, 3)) # general
print(min((1, 3, 5, 0, 6))) # tuple
# sum(): 합계 - only iterables(요소 포함 구조)
# print(sum(1, 2, 3, 4, 5)) - error
print(sum([1, 2, 3, 4, 5, 1, 2, 3])) # sum(list)
print(sum({1, 2, 4, 5, 2, 1, 3})) # sum(set) - distinct numbers
print(sum({1:'a', 4:'b', 5:'c'})) # sum(dict) - key numbers
print(sum(range(1, 10, 2))) # sum(range)

34
4
1
0
21
15
10
25