In [1]:
import pymongo
pymongo.__version__

'4.10.1'

In [2]:
import pymongo
import pandas as pd

conn = pymongo.MongoClient("mongodb://id330:pw330@175.126.37.21:37017/db330")
db = conn.get_database('db330')
# table = collection
collection = db.get_collection('myfiledata')

dic1 = {"id":"aa", "name":"나가다", "age":11} # 타입을 딕셔너리로 입력
collection.insert_one(dic1)

InsertOneResult(ObjectId('679096cf9ed7c01dfdeea5fb'), acknowledged=True)

In [5]:
df1 = pd.DataFrame({
    "id":["a1bc", "b2cd", "c3de"], 
    "name":["김모", "이모", "박모"],
    "age":[11, 22, 33]
})
df1

     id name  age
0  a1bc   김모   11
1  b2cd   이모   22
2  c3de   박모   33

In [6]:
data = df1.to_dict(orient='records')
collection.insert_many(data)
data

[{'id': 'a1bc', 'name': '김모', 'age': 11},
 {'id': 'b2cd', 'name': '이모', 'age': 22},
 {'id': 'c3de', 'name': '박모', 'age': 33}]

In [8]:
result = collection.find({})
for row in result:
    print(row)

{'_id': ObjectId('679096cf9ed7c01dfdeea5fb'), 'id': 'aa', 'name': '나가다', 'age': 11}
{'_id': ObjectId('6790986b9ed7c01dfdeea5fc'), 'id': 'a1bc', 'name': '김모', 'age': 11}
{'_id': ObjectId('6790986b9ed7c01dfdeea5fd'), 'id': 'b2cd', 'name': '이모', 'age': 22}
{'_id': ObjectId('6790986b9ed7c01dfdeea5fe'), 'id': 'c3de', 'name': '박모', 'age': 33}

In [10]:
import io
path = './image/전국체육시설비율.png'
with open(path, 'rb') as f:
    data1 = f.read()

data2 = io.BytesIO(data1)
data2

In [11]:
dic2 =  {"id":"f5gh", "name":"이미지", "age":13, "image":data2.getvalue()}

In [12]:
collection.insert_one(dic2)

InsertOneResult(ObjectId('67909b8a9ed7c01dfdeea5ff'), acknowledged=True)