In [25]:
collection.insert_one(dic2)

InsertOneResult(ObjectId('67909b34bf8e6539cc751a73'), acknowledged=True)

In [24]:
dic2 = {"id":"e", "name":"이미지", "age":123, "image":data2.getvalue()}

In [21]:
import io

path = "./image/연령대별참여율.png"
with open(path, 'rb') as f:
    data1 = f.read()
    
data2 = io.BytesIO(data1);
data2

In [14]:
result = collection.find({})
for row in result:
    print(row)

{'_id': ObjectId('679096c3bf8e6539cc751a6f'), 'id': 'a', 'name': '가나다', 'age': 111}
{'_id': ObjectId('67909863bf8e6539cc751a70'), 'id': 'a', 'name': '가', 'age': 1}
{'_id': ObjectId('67909863bf8e6539cc751a71'), 'id': 'b', 'name': '나', 'age': 2}
{'_id': ObjectId('67909863bf8e6539cc751a72'), 'id': 'c', 'name': '다', 'age': 3}

In [12]:
collection.insert_many(data)

InsertManyResult([ObjectId('67909863bf8e6539cc751a70'), ObjectId('67909863bf8e6539cc751a71'), ObjectId('67909863bf8e6539cc751a72')], acknowledged=True)

In [10]:
data = df1.to_dict(orient='records')

[{'id': 'a', 'name': '가', 'age': 1},
 {'id': 'b', 'name': '나', 'age': 2},
 {'id': 'c', 'name': '다', 'age': 3}]

In [8]:
df1 = pd.DataFrame({
    "id": ["a","b","c"],
    "name":["가","나","다"],
    "age":[1,2,3]
})
df1

  id name  age
0  a    가    1
1  b    나    2
2  c    다    3

In [6]:
import pandas as pd

pd.__version__

'2.0.3'

In [4]:
import pymongo

conn = pymongo.MongoClient("mongodb://id330:pw330@175.126.37.21:37017/db330")
db = conn.get_database('db330')
collection = db.get_collection('ex01') #table 생성과 같은 개념

dic1 = {"id":"a", "name":"가나다", "age":111} #  type을 딕셔너리로 
collection.insert_one(dic1)

InsertOneResult(ObjectId('679096c3bf8e6539cc751a6f'), acknowledged=True)

In [3]:
import pymongo
pymongo.__version__

'4.10.1'

In [1]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 25.1 MB/s eta 0:00:00a 0:00:01
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 50.5 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1