pip install pymysql

In [1]:
# mysql연동하기
# conda install pymysql 또는 pip install pymysql

import pymysql  

# MySQL Connection 연결
conn = pymysql.connect(host='175.126.37.21', user='id231', password='pw231', port=13306, db='db231', charset='utf8')

# Connection 으로부터 Cursor 생성
curs = conn.cursor()

# SQL문 실행
sql = "select * from test03"
curs.execute(sql)

column_names = [desc[0] for desc in curs.description]
print(column_names)

# 데이타 Fetch
rows = curs.fetchall()
print(type(rows))

for tmp in rows:
    #print(type(tmp))
    print("{}-{}-{}-{}".format(tmp[0], tmp[1], tmp[2][:15], tmp[3]))

# print(rows)     # 전체 rows

# Connection 닫기
conn.close()

['id', 'name', 'image', 'base_time']
<class 'tuple'>
2-연령대별참여율-b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHD'-2025-01-20 02:35:20
3-성별참여율-b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHD'-2025-01-20 02:35:21
4-참여율-b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHD'-2025-01-20 02:35:21
5-1인당GDP_bar-b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00\x00'-2025-01-20 03:14:34
6-1인당GDP_plot-b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00\x00'-2025-01-20 03:14:34

In [16]:
import pymysql  

# MySQL Connection 연결
conn = pymysql.connect(host='175.126.37.21', user='id231', password='pw231', port=13306, db='db231', charset='utf8')

# Connection 으로부터 Cursor 생성
cursor = conn.cursor()

with open('image/businessperson2.png', 'rb') as file:
    binary = file.read()

insert_query = """
    INSERT INTO test03 (id, name, image)
    VALUES (%s, %s, %s)
"""

# 삽입할 데이터
data = (1, "Ryu", binary)

# 쿼리 실행
cursor.execute(insert_query, data)

# 변경사항 저장 (commit)
conn.commit()

print("데이터가 성공적으로 삽입되었습니다.")

# 연결 종료
cursor.close()
conn.close()

데이터가 성공적으로 삽입되었습니다.

In [15]:
import pymysql  

# MySQL Connection 연결
conn = pymysql.connect(host='175.126.37.21', user='id231', password='pw231', port=13306, db='db231', charset='utf8')

# Connection 으로부터 Cursor 생성
cursor = conn.cursor()

create_table_query = """
CREATE TABLE test03 (
    id int not null primary key,
    name varchar(200) not null,
    image mediumblob null,
    base_time timestamp default current_timestamp
)
"""

cursor.execute(create_table_query)

conn.commit()

print("테이블이 성공적으로 생성되었습니다.")

# 연결 종료
cursor.close()
conn.close()

테이블이 성공적으로 생성되었습니다.

In [20]:
i = input('>')
print(i)

> 헬로\n헬로\n헬로

헬로\n헬로\n헬로

In [6]:
import os
import pymysql  

dr = os.listdir('image')
names = [d for d in dr if 'GDP' in d]
print(names)

# MySQL Connection 연결
conn = pymysql.connect(host='175.126.37.21', user='id231', password='pw231', port=13306, db='db231', charset='utf8')

# Connection 으로부터 Cursor 생성
cursor = conn.cursor()
# insert 쿼리
insert_query = """
    INSERT INTO test03 (name, image)
    VALUES (%s, %s)
"""

# i = int(cursor.execute('SELECT MAX(id) FROM test03'))

for name in names:
    with open(f'image/{name}', 'rb') as file:
        binary = file.read()
    # 삽입할 데이터
    data = (name[:name.rfind('.png')], binary)
    
    # 쿼리 실행
    cursor.execute(insert_query, data)

# 변경사항 저장 (commit)
conn.commit()

print("데이터가 성공적으로 삽입되었습니다.")

# 연결 종료
cursor.close()
conn.close()

['1인당GDP_bar.png', '1인당GDP_plot.png']
데이터가 성공적으로 삽입되었습니다.

In [1]:
import pymysql 
# MySQL Connection 연결
conn = pymysql.connect(host='175.126.37.21', user='id231', password='pw231', port=13306, db='db231', charset='utf8')
# Connection 으로부터 Cursor 생성
cursor = conn.cursor()
# insert 쿼리
delete_query = "DELETE FROM test03 WHERE id = 1"

# 쿼리 실행
cursor.execute(delete_query)

conn.commit()

print('데이터가 성공적으로 삭제되었습니다.')

cursor.close()
conn.close()

데이터가 성공적으로 삭제되었습니다.

In [8]:
import json

dic = dict()
dic["a"] = '100'
dic["b"] = '200'

print(dic, type(dic))
j = json.dumps(dic, ensure_ascii=False)
print(j, type(j))

{'a': '100', 'b': '200'} <class 'dict'>
{"a": "100", "b": "200"} <class 'str'>