# 함수

In [10]:
def add(a, b):
    print(f'입력하신 {a}와 {b}를 더하면 {a + b}입니다.') # 단순 출력
    return a + b # 리턴값

In [22]:
add(3, 4)
add(77, 23)
c = add(7, 8) # 리턴 값이 존재하면 변수에 저장
print(c)

입력하신 3와 4를 더하면 7입니다.
입력하신 77와 23를 더하면 100입니다.
입력하신 7와 8를 더하면 15입니다.
15

In [15]:
def multiple(a, b):
    print(f'입력하신 {a}와 {b}를 곱하면 {a * b}입니다.')
    return a * b
c = multiple(int(input('첫 번째 숫자 >')), int(input('두 번째 숫자 >')))
print(f'결과 : {c}')

첫 번째 숫자 > 10
두 번째 숫자 > 2

입력하신 10와 2를 곱하면 20입니다.
결과 : 20

In [23]:
def hello(): # 매개변수 없음
    print('Hello Python')
print(hello, type(hello))
hello()

def hello():
    return 'Say yeah' # 리턴 값만 존재
p = hello()
print(p)

<function hello at 0x00000277BDE7F2E0> <class 'function'>
Hello Python
Say yeah

In [ ]:
def function1():
    print('start function')
    s = set()
    while len(s) < 3:
        s.add(input('입력값 >'))
    return s

re = function1()
for el in re:
    print(el, type(el))
print(re)

In [32]:
def function2(a, b, c):
    t = a, b, c
    print(t)
function2(10, 20, 30)

(10, 20, 30)

In [41]:
def substract(a = 20, b = 10):
    return a - b
print(substract())
print(substract(15))
print(substract(3, 21))
substract(3, 4), substract(20, 6)

10
5
-18

(-1, 14)

## 여러 개의 입력값을 받는 함수

In [89]:
def many(*args):
    print(args, type(args))
    result = list()
    for v in args:
        result += v
    
    return result
#re1 = many(1, 2, 3, 4)
#print(re1)
re2 = many([1, 2, 3])
re3 = many()
re4 = many((1, 2, 4))
re5 = many({3, 5, 7})
print('='*30)
print(re2, type(re2))
print(re3, type(re3))
print(re4, type(re4))
print(re5, type(re5))
print('+'*30+'\n'+'+'*30)

# def manymany(choice, *args):
#     if choice == 'add':
#         result = 0
#         for v in args:
#             result += v
#     elif choice == 'mul':
#         result = 1
#         for v in args:
#             result *= v
#     return result

# a = manymany('add', 3, 4)
# b = manymany('mul', 3, 4)
# print(a)
# print(b)

def addMany(*args):
    result = 0
    for v in args:
        result += v
    return result

def mulMany(*args):
    result = 1
    for v in args:
        result *= v
    return result

def calMany(mode, *args):
    modes = {
        'add' : addMany(*args),
        'mul' : mulMany(*args)
    }
    return modes.get(mode, 0)

a = calMany('add', 2, 3, 4)
b = calMany('mul', 2, 3, 4)
print(a)
print(b)
print('='*30)

tp = 1, 2, 3, 4, 5, 6
lt = [7, 8, 9, 10]
result1 = calMany('add', *tp)
result2 = calMany('mul', *lt)

print(result1)
print(result2)

([1, 2, 3],) <class 'tuple'>
() <class 'tuple'>
((1, 2, 4),) <class 'tuple'>
({3, 5, 7},) <class 'tuple'>
==============================
[1, 2, 3] <class 'list'>
[] <class 'list'>
[1, 2, 4] <class 'list'>
[3, 5, 7] <class 'list'>
++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++
9
24
==============================
21
5040

In [126]:
def newMany(*args):
    print(type(args), '/', f'{args[0]} : {args[1:]}')
    # tuple 복합 인자 쪼개기
    if args[0] == 'add':
        result = 0
        for v in args[1:]:
            result += v
    elif args[0] == 'mul':
        result = 1
        for v in args[1:]:
            result *= v
    return result
result3 = newMany('add', 1, 2, 3, 4)
result4 = newMany('mul', 1, 2, 3, 4)
print(result3)
print(result4)
print('='*50)
# 함수에 tuple 인수로 넣기
arg1 = 'add', 1, 2, 3, 4
print(newMany(*arg1))

<class 'tuple'> / add : (1, 2, 3, 4)
<class 'tuple'> / mul : (1, 2, 3, 4)
10
24
==================================================
<class 'tuple'> / add : (1, 2, 3, 4)
10

In [186]:
def newMany2(args):
    print(type(args), '/', f'{args[0]} : {args[1:]}')
    itr = tuple(args) # 2번째 솔루션을 위해 튜플 자료형으로 변환
    if itr[0] == 'add':
        result = 0
        for v in itr[1:]:
            result += v
    elif itr[0] == 'mul':
        result = 1
        for v in itr[1:]:
            result *= v
    try:
        return result
    except:
        return ' [결과를 받을 수 없습니다.]'

# 1번째 솔루션
print( newMany2( ('add', 1, 2, 3, 4) ) )
print( newMany2( ('mul', 1, 2, 3, 4) ) )
arg2 = 'add', 1, 2, 3, 4
print( newMany2(arg2) )
print('='*30)

# 2번째 솔루션
arg3 = [] # 리스트 객체 준비
arg3.append(input('모드를 선택하시겠습니까(add, mul)? >'))
put = None
count = 0
while count < 1:
    try:
        count = int(input('몇 개의 숫자를 입력하시겠습니까? >'))
    except:
        print(' [올바른 형식으로 입력하세요.] ')

while len(arg3) < count + 1: # count 개수만큼 입력
    try:
        put = int(input('숫자를 입력하세요.'))
    except:
        print(' [올바른 형식으로 입력하세요.] ')
    else:
        arg3.append(put) # 리스트에 추가
print( newMany2(arg3) ) # 출력

<class 'tuple'> / add : (1, 2, 3, 4)
10
<class 'tuple'> / mul : (1, 2, 3, 4)
24
<class 'tuple'> / add : (1, 2, 3, 4)
10
==============================

모드를 선택하시겠습니까(add, mul)? > add
몇 개의 숫자를 입력하시겠습니까? > 0
몇 개의 숫자를 입력하시겠습니까? > -2
몇 개의 숫자를 입력하시겠습니까? > 10
숫자를 입력하세요. 2
숫자를 입력하세요. 3
숫자를 입력하세요. 4
숫자를 입력하세요. 5
숫자를 입력하세요. 6
숫자를 입력하세요. 7
숫자를 입력하세요. 8
숫자를 입력하세요. 9
숫자를 입력하세요. 0
숫자를 입력하세요. 1

<class 'list'> / add : [2, 3, 4, 5, 6, 7, 8, 9, 0, 1]
45

In [135]:
def dicStar(**kargs):
    print(type(kargs), kargs)
dicStar(a=1, b=2, c='a', d=[3, 4, 5], e={'one':'하나', 'two':'둘'})
dicStar(apple='사과', onion='양파')

<class 'dict'> {'a': 1, 'b': 2, 'c': 'a', 'd': [3, 4, 5], 'e': {'one': '하나', 'two': '둘'}}
<class 'dict'> {'apple': '사과', 'onion': '양파'}

In [151]:
def mix(a, b):
    '''이 함수는 두 개의 인자를 받아서
    3개의 결과값을 출력합니다.
    각각 덧셈과 곱셈과 10을 곱한 값을 결과로 출력합니다. '''
    return a+b, a*b, a*10+b

result = mix(5, 6)
x, y, z = mix(5, 6)
print(result, type(result))
print(f'{x}, {y}, {z}')

(11, 30, 56) <class 'tuple'>
11, 30, 56

In [159]:
print(mix.__doc__)
print(mix.__type_params__)

이 함수는 두 개의 인자를 받아서
3개의 결과값을 출력합니다.
각각 덧셈과 곱셈과 10을 곱한 값을 결과로 출력합니다.
()

## 함수와 변수

In [176]:
a = 7
print(a)

def var_test(a):
    a += 10
    print(a)

var_test(a)

7
17

In [187]:
b = 5
print(b)
# 리턴 값 존재
def var_test2(b):
    b += 1
    return b

print(var_test2(b))

5
6

### 전역 번수(global)

In [183]:
# global variable
a = 5

def var_test3():
    '''
    global 함수는 자제하고 return 값으로 사용하길 권장함
    (javascript의 var 변수와 비슷한 기능임 - 예전 문법)
    '''
    global a
    a += 1
    print(a)

var_test3()
# 힘수 실행 이후에 출력 결과가 동일함
print(a)

6
6

## 람다 함수(익명 함수)

In [ ]:
# 람다 = 한 줄 표현 함수
add = lambda a, b: a * 10 + b
res1 = add(2, 5)
print(res1)

mul = lambda a = 1, b = 1: a * b
res2 = mul(2, 5)
res3 = mul()
print(res2)
print(res3)

In [ ]:
# 일반 함수로 매핑
def test(v):
    return v**2
sq = map(test, arr)

# 람다 함수 예제
arr = list(range(1, 6))
print(arr)
sq = map(lambda a = 1: a**2, arr)
print(list(sq))

# 변수로 저장 후 매핑
lam = lambda a : a**2
sq = map(lam, arr)
print(list(sq))

# 사용한 이후에는 빈 형태가 됨
print(list(sq))

In [ ]:
dir(list)